img{
    display: block;
    margin: 0px auto;
   }
 
h1{
    page-break-before: always;
    background: #c7cf29;
    color: #302b2b;

}
    
h2 {
    
    position: relative;
    padding: 0.4em;
    background: #9999ff;
    color: #222222;
}
h3 {
    border-bottom: solid 3px #000000;
    position: relative;
}
h4 {
    border-bottom: solid 2px #000000;
    position: relative;
}
h5 {
    border-bottom: solid 1px #000000;
}

table {
    page-break-inside: avoid;
   }
